
:host {
  display: block;
}

.video-list {
  justify-content: initial;
  list-style-type: none;
  background-color: #f2f2f2;
  max-height: 400px;
  width: 300px;
  overflow: scroll;
}

.selected {
  background-color: pink;
}
